[MASTER]
ignore=
    migrations,
    __pycache__,
    venv,
    env,
    .venv,
    .env


ignore-paths=
    ^tests/ui/.*,
    ^tests/api/.*

[MESSAGES CONTROL]
disable=
    cyclic-import

[FORMAT]
max-line-length=100

[DESIGN]
max-args=10

[TYPECHECK]
ignore-mixin-members=yes

[REPORTS]
output-format=colorized
